
body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color:black;

}
h1 {
  font-style: monospace;
  color: #373fff;
   font-size:300%;
  
}
p{
  font-style:monospace;
  color:#373fff;
  display:block;
  text-align:center;
}
a{
  text-align: center;
  font-style:italic;
  font-weight:bold;
  text-decoration:none;
  color:red;

}

.imagenes img{
  top:30px;
  width:30%;
  height:30%;
  position:relative;
  animation-name:animacion;
  animation-duration:2s;
    animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction:alternate;
}
@keyframes animacion{
  25%{transform:rotate(-1g)}
  50%{transform:rotate(1deg)}
  75%{transform:rotate(-1deg)}
  100%{transform:rotate(1deg)}
  
}
.cabeza{

  font-size:120%;
  display:block;
  margin:auto;
  text align:center;
  position: relative;
  top: 20px;
  height:80%;
  width:80%;

  

}
.cabeza p{
   color:#373fff;
}
.video{
  height:300px;
  width:500px;
  animation-name:animacion;
  animation-duration:2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction:alternate;
  position:relative;
  
}
#comunismo{
  position:relative;
  top:100px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.agradecimientos{
  position:relative;
  top:100px;
}
