
body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color:black;
  animation-interation-time:infinite;
  animation-name:animacion;
  animation-duration:  100s;
}
@keyframes animacion{
  0%{background-color:red;}
  25%{background-color:#073842;}
  50%{background-color:#052E4C;}
  75%{background-color:black;}
  100%{background-color:#B81E83}
  

}
h1 {
  font-style: italic;
  color: #373fff;
}
p{
  font-style:italic;
  color:#373fff;
  display:block;
  text-align:center;
}
a{
  text-align: center;
  font-style:italic;
  font-weight:bold;
  text-decoration:none;
  color:##D707F7;

}

img{
  /*display:block;*/
  /*margin:auto;*/
  width:30%;
  height:30%;
  
}
.cabeza{

  position: relative;
  top: 20px;
  
}
.imagenes{
  position:relative;
  top:45px;
}
#comunismo{
  position:relative;
  top:100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.agradecimientos{
  position:relative;
  top:100px;
}
