
body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color:black;

}
h1 {
  font-style: italic;
  color: #373fff;
}
p{
  font-style:italic;
  color:#373fff;
  display:block;
  text-align:center;
}
a{
  text-align: center;
  font-style:italic;
  font-weight:bold;
  text-decoration:none;
  color:##D707F7;

}

.imagenes img{
  
  width:30%;
  height:30%;
  position:relative;
  animation-name:animacion;
  animation-duration:4s;
    animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction:alternate;
}
@keyframes animacion{
  0%%{transform:rotate(2deg)}
  25%{transform:rotate(-2g)}
  50%{transform:rotate(2deg)}
  75%{transform:rotate(-2deg)}
  100%{transform:rotate(1deg)}

  
}
.cabeza{

  position: relative;
  top: 20px;

}
.imagenes{
  position:relative;
  top:45px;
}
#comunismo{
  position:relative;
  top:100px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.agradecimientos{
  position:relative;
  top:100px;
}
